body {
  margin: 0;
  font-family:  'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #212b37;
  background: #f8f8f9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}


.main {
  padding-top: 3rem;
  padding-bottom: 3rem;

}